body {
  margin: 0;
  padding: 0;
  background: url("https://www.transparenttextures.com/patterns/cubes.png"),
              linear-gradient(to right, #dbeafe, #93c5fd);
  background-blend-mode: overlay;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.app-container {
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #1f2937;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #1e40af;
}

svg {
  margin-top: 20px;
}

  .report-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #ef4444;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: background 0.3s;
  z-index: 1000;
}
.container {
  display: flex;
  justify-content: center; 
  align-items: flex-end;  
  height: 200px;          
}
.jui {
  display: flex;
  justify-content: center;
  align-items: flex-end;   
  height: 100px;          
}

.report-button:hover {
  background: #b91c1c;
}
